table{
    border: none;
}
.customHeader h2{
	height: 30px;
}
.flexBigBlock{
    display: flex;
    justify-content: center;
}
.flexEvenBlock{
    align-items: flex-end;
    align-content: space-between;
    align-self: stretch;
    margin: auto;
}
td > span.event-flex-container{
	display: block;
	flex-direction: column;
	justify-content: space-between;
}
tr:hover{ 
	background: rgba(115,255,111,0.4);
  	box-shadow:3px 5px 7px rgba(0,0,0,.7);
	cursor:pointer;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
td:hover:not(.allDay){ 
	background: rgba(115,255,111,0.4);
  	box-shadow:3px 5px 7px rgba(0,0,0,.7);
	cursor:pointer;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.customHeader h2{
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}
.customHeader h2 {
	color: darkslategray;
}
.customHeader h2 a, 
.customHeader h2 span {
	color: lightslategray;
	font-size: 18px;
	letter-spacing: 3px;
	white-space: nowrap;
}
.customHeader h2 a {
	color: darkslategray;
}
.no-touch .customHeader h2 a:hover {
	color: rgba(255,255,255,0.9);
}
td:not(.allDay) {
	width: 600px;
	height: 120px;
	color: #000;
	font-size: 26px;
	font-weight: 300;
	position: relative;
	text-align: left;
	vertical-align: top;
	border-collapse: collapse;
	border: 1px solid cadetblue;
	border-left: none;
	border-bottom: none;
    border-right: none;
	z-index: auto;
}
.allDay{
	width: 80px;
	height: 81px;
	font-size: 42px;
    font-weight: 500;
	text-align: left;
	padding-left: 20px;
}
td.allDay > h4{
	width: 120px;
	height: 81px;
	font-size: 20px;
    font-weight: 300;
	text-align: left;
    margin: 0px;
}
td > span .eventLabelImportant{
	margin-bottom: 10px;
	width: 600px;
}
td > span .eventLabelInfo{
	margin-bottom: 10px;
	width: 600px;
}
td > span .eventLabelBD{
	margin-bottom: 10px;
	width: 600px;
}
td > span img{
	float: right;
}
td > span.event-flex-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
article > img{
	border-radius: 50%;
}