@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

.clearfix{
	background-image: url(images/london2.png);
	background-position: left bottom; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
	background-size: 100%;
	/*opacity: 0.5;*/
	/*background: linear-gradient(to top, #fefcea, #f1da36);*/
	/*background-size: cover;*/
}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #000;
}
a {
	text-decoration: none;
}
a:hover {
	color: #000;
}
.codrops-demos {
	float: right;
}
.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: inherit;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}
.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: rgba(94,114,124,0.5);
	border-color: rgba(94,114,124,0.5);
}
.main {
	text-indent: 10px;
}
.container header h1 {
	font-size: 34px;
	line-height: 55px;
	margin: 0;
	font-weight: 700;
	float: left;
}
.container header h1 span {
	font-size: 18px;
	font-weight: 400;
	display: block;
	text-align: right;
}
.container > header nav a:hover:before {
	color: #fff;
}
table {
	margin: 10px auto;

	border-radius: 20px 20px 20px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
tbody {
	padding: 10px;
	float: none;
	font-weight: 300;
	min-height: 30px;
	box-shadow: inset -1px -1px rgba(255,255,255,0.2);
}
.week{
	text-indent: -20px;
	font-size: 13px;
	line-height: 15px;
}
.day{
	font-size: 45px;
	line-height: 45px;
}
td {
	width: 200px;
	height: 120px;
	color: #000;
	font-size: 26px;
	font-weight: 300;
	position: relative;
	text-align: left;
	vertical-align: top;
	border-collapse: collapse;
	border: 1px solid maroon;
	border-left: none;
	border-bottom: none;
}
.allDay{
	width: 100px;
	height: 81px;
	font-size: 20px;
	text-align: right;
	padding-right: 20px;
}
thead,tfoot{
	height: 30px;
	line-height: 30px;
	transition: background .2s .1s;
	letter-spacing: 6px;
	text-transform: uppercase;
}
thead th{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	background: rgba(255,255,255,0.25);
}
tfoot th{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	background: rgba(255,255,255,0.25);
}
td:hover:not(.allDay) { 
	background: rgba(115,255,111,0.4);
	transform: scaleX(1.0);
  	box-shadow:3px 5px 7px rgba(0,0,0,.7);
	cursor:pointer;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
td > span.event-flex-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
td > span{
	margin: 1px;
	padding: 3px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: white;
}
td > span .eventLabelImportant{
	margin: 1px;
	background: #F77016;
	border: 1px solid #F77016;
	border-radius: 5px;
}
td > span .eventLabelInfo{
	margin: 1px;
	background: #04ABDE;
	border: 1px solid #04ABDE;
	border-radius: 5px;
}
td > span .eventLabelBD{
	margin: 1px;
	background: #039C1A;
	border: 1px solid #039C1A;
	border-radius: 5px;
}