@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #000;
}

table {
    margin: 10px auto;
    border-radius: 20px 20px 20px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

tbody {
    padding: 5px;
    float: none;
    font-weight: 300;
    box-shadow: inset -1px -1px rgba(255, 255, 255, 0.2);
}

.week {
    text-indent: -10%;
    font-size: 75%;
    line-height: 100%;
}

.day {
    font-size: 250%;
    line-height: 100%;
}

td {
    width: 12.5%;
    height: 120px;
    color: #000;
    font-size: 120%;
    font-weight: 300;
    position: relative;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    border: 1px solid maroon;
    border-left: none;
    border-bottom: none;
    z-index: auto;
}

.allDay {
    width: 5%;
    height: 80px;
    font-size: 120%;
    text-align: right;
    padding-right: 1%;
}

thead,
tfoot {
    height: 30px;
    line-height: 30px;
    transition: background .2s .1s;
    letter-spacing: 2%;
    text-transform: uppercase;
}

thead th {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
}

tfoot th {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgba(255, 255, 255, 0.25);
}

td:hover:not(.allDay) {
    background: rgba(115, 255, 111, 0.4);
    box-shadow: 3px 5px 7px rgba(0, 0, 0, .7);
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

td>span.event-flex-container {
    display: table-cell;
    flex-direction: column;
    justify-content: space-around;
}

td>span {
    margin: 1px;
    padding: 1px;
    padding-block-end: 1px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: white;
}

td>span .eventLabelImportant {
    margin: 1px;
    width: 97%;
    background: #F77016;
    border: 1px solid #F77016;
    border-radius: 5px;
}

td>span .eventLabelInfo {
    margin: 1px;
    width: 97%;
    background: #04ABDE;
    background-size: 100%;
    border: 1px solid #04ABDE;
    border-radius: 5px;
}

td>span .eventLabelBD {
    margin: 1px;
    width: 97%;
    background: #039C1A;
    border: 1px solid #039C1A;
    border-radius: 5px;
}

td>a.addEvent {
    font-size: 12px;
    color: gray;
}

td>span.event-flex-container:active .eventLabelInfo,
td>span.event-flex-container:active .eventLabelBD,
td>span.event-flex-container:active .eventLabelImportant {
    display: table-caption;
    position: absolute;
    transform: scaleX(1.0);
    top: 70px;
    z-index: 999;
    width: 250px;
    min-height: 300px;
    color: #000;
    background: ghostwhite;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, .7);
    border: 1px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 5px solid #eb9816;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

td>span.event-flex-container .hide_context {
    display: none;
}

td>span.event-flex-container:active .hide_context li {
    text-align: left;
}

td>span.event-flex-container:active .hide_context {
    display: block;
}

td>ul {
    list-style: none;
}


/* flex */

nav {
    background-image: url(images/london2.png);
    /* Положение фона */
    background-repeat: no-repeat;
    /* Отменяем повторение фона */
    background-size: cover;
}

nav .mainHeader {
    padding: 10px 0 10px 20px;
}

nav menu a,
nav menu li {
    text-decoration: none;
    list-style: none;
    font-size: 120%;
    color: inherit;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.5em;
}

nav menu a:hover {
    color: #000;
    border-color: #000;
}

nav .clearfix {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav .mainHeader {
    flex: 1 1 auto;
    padding: 5px 15px;
}

nav menu {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    padding: 5px 0;
    flex-wrap: wrap;
}

@media all and (max-width: 650px) {
    nav .mainHeader {
        text-align: center;
        font-size: 100%;
    }
    nav menu {
        font-size: 80%;
    }
    .day {
        font-size: 120%;
    }
    .week {
        font-size: 50%;
    }
    tbody span article {
        font-size: 60%;
    }
    table thead {
        display: none;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }
    table td:before {
        content: attr(data-label);
        float: left;
    }
}


/* Стили для неактивного модального окна */

.modal {
    background: #fff;
    left: 50%;
    margin: -250px 0 0 -40%;
    position: absolute;
    top: -50%;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* Активация модального окна в состоянии :target */

.modal:target {
    top: 50%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.modal header,
.modal footer {
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

.modal footer {
    border: none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.modal section,
.modal header,
.modal footer {
    padding: 15px;
    z-index: 200;
}

.modal h2 {
    margin: 0;
}

.modal .button {
    float: right;
    margin: 5px;
}