@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'fontawesome-selected';
  src: url("../font/fontawesome-selected.eot");
  src: url("../font/fontawesome-selected.eot?#iefix") format('embedded-opentype'), url("../font/fontawesome-selected.woff") format('woff'), url("../font/fontawesome-selected.ttf") format('truetype'), url("../font/fontawesome-selected.svg#fontawesome-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	background: -moz-linear-gradient(-45deg, #cebe29 0%, #01535b 33%, #2989d8 71%, #89b4ff 91%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#cebe29), color-stop(33%,#01535b), color-stop(71%,#2989d8), color-stop(91%,#89b4ff));
	background: -webkit-linear-gradient(-45deg, #cebe29 0%,#01535b 33%,#2989d8 71%,#89b4ff 91%);
	background: -o-linear-gradient(-45deg, #cebe29 0%,#01535b 33%,#2989d8 71%,#89b4ff 91%);
	background: -ms-linear-gradient(-45deg, #cebe29 0%,#01535b 33%,#2989d8 71%,#89b4ff 91%);
	background: linear-gradient(135deg, #cebe29 0%,#01535b 33%,#2989d8 71%,#89b4ff 91%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cebe29', endColorstr='#89b4ff',GradientType=1 );
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	text-align: center;
}
body header h2{
	font-size: 25px;
	line-height: 30px;
	margin: 0;
}
.customHeader {
	padding: 10px 10px 10px 10px;
	height: 30px;
}
.customHeader h2{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}
.customHeader h2 {
	color: #fff;
}
.customHeader h2 a, 
.customHeader h2 span {
	color: rgba(255,255,255,0.3);
	font-size: 18px;
	letter-spacing: 3px;
	white-space: nowrap;
}
.customHeader h2 a {
	color: rgba(255,255,255,0.5);
}
.customHeader .customMounth{
	width: 40%;
	float: right;
}
.no-touch .customHeader h2 a:hover {
	color: rgba(255,255,255,0.9);
}
table {
	margin: 10px auto;

	border-radius: 20px 20px 20px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    background: rgba(255,255,255,0.1);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    
    background-origin: padding-box;
    background-size: auto auto;
}
td,thead,tbody {
	padding: 10px;
	float: none;
	font-weight: 300;
	min-height: 30px;
	box-shadow: inset -1px -1px rgba(255,255,255,0.2);
	border: none;
}
td {
	width: 200px;
	height: 81px;
	color: rgba(255,255,255,0.9);
	font-size: 26px;
	font-weight: 300;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	position: relative;
	text-align: left;
	vertical-align: top;

}
th {
	color: rgba(255,255,255,0.9);
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	height: 30px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
thead,tfoot{
	height: 30px;
	line-height: 30px;
	transition: background .2s .1s;
	letter-spacing: 6px;
	text-transform: uppercase;
}
thead th{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
	background: rgba(255,255,255,0.25);
}
tfoot th{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	background: rgba(255,255,255,0.25);
}
td:hover { 
	background: rgba(115,255,111,0.4);
	transform: scaleX(1.0);
  	box-shadow:3px 5px 7px rgba(0,0,0,.7);
	cursor:pointer;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}